image sdcard.img {
	hdimage {
		partition-table-type = "gpt"
	}

	partition fsbla {
		image = "%ATFBIN%"
	}

	partition fsblb {
		image = "%ATFBIN%"
	}

	partition fip {
		image = "fip.bin"
		size = 4M
	}

	partition rootfs {
		image = "rootfs.ext4"
		bootable = "yes"
	}
}
